.typeahead, .tt-query, .tt-hint {
/*border: 2px solid #CCCCCC;*/
border-radius: 4px;
font-size: 12px;
height: 30px;
line-height: 15px;
outline: medium none;
/*padding: 8px 12px;*/
/*width:100% !important;*/
    min-width: 427px;
}
.typeahead {
    background-color: #FFFFFF !important;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    /*color: #999999;*/
    visibility:hidden;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*border-radius: 8px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    padding: 8px 0;
    width: 427px;
    opacity: 1;
}
.tt-suggestion {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 10px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.typeahead .tt-query
{
/*width: 350px!important;*/
}